<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h3>View Reports </h3>
    <a href='/viewReports'>View Reports</a>
    <h3>View / Delete records </h3>
    <a href='/records'>View Records</a>
    <a href='/records/delete'>Delete Records</a>
  </body>
</html>