<!DOCTYPE html>
<html>
  <head>
    <title>Randomize member data file</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="container" style="width:100%;">                                   
		 
			<h1>  Randomize member data file </h1>
			<%- include('nav'); %>
        
            <h4>  upload data file to randomize </h4>
			<p>Iterator value: <input type="text" id="iterator" value="12" size="20"></p>
			<p>Individual files: <input id="individuals" type="checkbox" checked="">
			<p>Aggregate files: <input id="aggregate" type="checkbox" checked="checked">
        <div id="left" style="float:left; width:50%;"> 
        	<form name="externalData" id="">
				<p><input type="button" class="button" id="loadBtn" value="Import file" onclick="document.getElementById('fileDialog').click();"></p>
				<input id="fileDialog" type="file" style="display:none;" nwworkingdir="./" accept=".json, .csv" />
			</form>	
		</div>
	</div>
</html>

<script>
	
	function loadFile(fileName) {
		var chooser = document.getElementById('fileDialog');
	    chooser.addEventListener("change", function(evt) {
	    		var file = document.getElementById("fileDialog").files[0];
	    		if (file) { readData(file); }
	    }, false);
	    chooser.click();
	}
	loadFile();
	
	function readData(file){
		var fileName = file.name;
		var reader = new FileReader();
		var jsonObj = {};
	    reader.readAsText(file, "UTF-8");
	    reader.onload = function (evt) {
    		submitForm(evt.target.result, fileName);	    		    		
	    }
	}
			
	function submitForm(req_body, fileName){
		
		var iter = document.getElementById("iterator");
		var baseURL = window.location.origin;
		path = baseURL + "/extras/randomData/" + fileName + "?iterValue=" + iter.value ; 
		
		var form = document.createElement("form");
		form.setAttribute("method", "post");
		form.setAttribute("action", path);
		
		var hiddenField = document.createElement("input");
		hiddenField.setAttribute("type", "hidden");
		hiddenField.setAttribute("name", "req_body");
		hiddenField.setAttribute("value", req_body);
		form.appendChild(hiddenField);
		document.body.appendChild(form);
		form.submit();
		console.log('submitting form to ' + path + ' with data (print partial) \n' + req_body.substr(0,200));
	}

</script>