<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h3>Please login</h3>
    <a href='/member'>Member area</a>
    <a href='/customer'>Health club area</a>
  </body>
</html>