<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <a href="/member"><img border="0" alt="member area" src="MemberLogin.jpg" width="600" height="150" class="center">
    <a href="/staff"><img border="0" alt="staff area" src="StaffLogin.jpg" width="600" height="150" class="center">
  </body>
</html>