<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="container" style="width:100%;">  
	    <h1>Welcome to <%= title %></h1>                               
		<%- include('nav'); %>
    <p>Here you can:</p>
    <p> Create records by <a href="/upload/records">Uploading</a> them via Records -> Upload menu</p>
    <p> <a href="/list/records">List</a> and view records by visiting Records -> View menu</p>
    <p> <a href="reports/view">View</a> and <a href="reports/share">Share</a> Reports</p>
	</div>
</html>

