<!DOCTYPE html>
<html>
  <head>
    <title>Load data file</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="container" style="width:100%;">                                   
		<%- include('nav'); %>
	</div>
</html>

