<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="container" style="width:100%;">  
	    <h1>Welcome to <%= title %></h1>                               
		<%- include('nav'); %>
    <p> Create records by uploading them <a href="/uploadRecords">Here</a></p>
	</div>
</html>

