
    <nav>
	<ul>
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">Upload</a>
	    <div class="dropdown-content">
	      <a href="/upload/records">Records</a>
	    </div>
	  </li>
	  
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">Delete</a>
	    <div class="dropdown-content">
					<a href="/delete/records">Records</a>
	    </div>
	  </li>
	  
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">View</a>
	    <div class="dropdown-content">
	      <a href="/view/reports">Reports</a>  
	    </div>
	  </li>
		<li><a href="/">Exit</a></li>
	    </div>
	  </li>
	</ul>
	</nav>
