
    <nav>
	<ul>
	  <li><a href="/">Home</a></li>
	  
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">List</a>
	    <div class="dropdown-content">
	      <a href="/list/vpcs">VPCs</a>
				<a href="/list/subnets">Subnets</a>
				<a href="/list/instances">Instances</a>
				<a href="/list/keys">Keys</a>
				<a href="/list/floating_ips">Floating IPs</a>
	    </div>
	  </li>
	  
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">Create</a>
	    <div class="dropdown-content">
	      <a href="/create/vpcs">VPC</a>
	      <a href="/create/subnets">Subnet</a>
				<a href="/create/instances">Instance</a>
				<a href="/create/keys">Keys</a>
				<a href="/create/floating_ips">Floating IP</a>
	    </div>
	  </li>
	  
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">Delete</a>
	    <div class="dropdown-content">
					<a href="/delete/vpcs">VPC</a>
					<a href="/delete/subnets">Subnets</a>
					<a href="/delete/instances">Instance</a>
					<a href="/delete/keys">Keys</a>
					<a href="/delete/floating_ips">Floating IPs</a>
	    </div>
	  </li>
	  
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">Instance Action</a>
	    <div class="dropdown-content">
	      <a href="/action/start">Start</a>
	      <a href="/action/stop">Stop</a>
	      <a href="/action/show">Show</a>
	      <a href="/bulkCommands">Bulk commands</a>  
	    </div>
	  </li>
	  
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">Extras</a>
	    <div class="dropdown-content">
	    	  <a href="/editenv">Create/Update Env</a>
	      <a href="/history">History</a>
	      <a href="/customCommand">Custom command</a>
	      <a href="/cache/print">Print cache</a>
	      <a href="/cache/flush">Flush cache</a>
	    </div>
	  </li>
	</ul>
	</nav>
