
  <nav>
	<ul>
	  <li><a href="/">Home</a></li>
		<li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">Records</a>
	    <div class="dropdown-content">
	      <a href="/list/records">List</a>
				<a href="/upload/records">Upload</a>
				<a href="/delete/records">Delete</a>
	    </div>
	  </li>
	  
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">Reports</a>
	    <div class="dropdown-content">
	      <a href="reports/view">View</a>  
				<a href="reports/edit">Edit</a> 
				<a href="reports/share">Share</a>
	    </div>
	  </li>
		<li><a href="/">Exit</a></li>
	    </div>
	  </li>
	</ul>
	</nav>
