<!DOCTYPE html>
<html>
  <head>
    <title><%= action %> Reports </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="background.png">
    <h1 class="center"><%= action %> Reports </h1>
    <%- include('nav'); %>
    <% if (<%= action %> in ['View', 'Share'] ) { %>
      <iframe width="1300" height="800" align="center" src="https://datastudio.google.com/embed/reporting/1UOlITjDsw_naajYBFRs1oNxBjagXqv13/page/ZESP" 
            frameborder="0" style="border:0" allowfullscreen ></iframe>
    <% } else { %>
        <iframe width="1300" height="800" align="center" src="https://datastudio.google.com/open/1UOlITjDsw_naajYBFRs1oNxBjagXqv13" 
            frameborder="0" style="border:0" allowfullscreen ></iframe>
    <% } %>
  </body>
</html>