<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <!--body background="background.png"-->
    <h1 class="center">Welcome to <%= title %></h1>
    <h3 class="footer">Prototype version</h3>
    <a href="/member"><img src="MemberLogin.jpg" alt="member area" class="center_img">
    <a href="/staff"><img src="StaffLogin.jpg" alt="member area" class="center_img">
  </body>
</html>