<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="container" style="width:100%;">  
	    <h1>Welcome to <%= title %></h1>                               
		<%- include('nav'); %>
    <p>Here you can:</p>
    <p> Create records by <a href="/upload/records">Uploading</a> them via Records -> Upload menu</p>
    <p> <a href="/list/records">List</a> and view records by visiting Records -> View menu</p>
    <p> <a href="/delete/records">Delete</a> records by visiting Records -> Delete menu</p>
    <p> <a href="/reports/Create">Create</a>, <a href="/reports/View">View</a> and <a href="/reports/Share">Share</a> Reports</p>
	</div>
</html>